<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="description" content="CNode：Node.js专业中文社区">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="nodejs, node, express, connect, socket.io">
  <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
  <meta name="referrer" content="always">

  
  <meta name="author" content="EDP@TaoBao">
  
  <meta property="wb:webmaster" content="617be6bd946c6b96">
  

  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss">

  
  <link rel="icon" href="//static2.cnodejs.org/public/images/cnode_icon_32.png" type="image/x-icon">
  

  <!-- style -->
  <link rel="stylesheet" href="//static2.cnodejs.org/public/stylesheets/index.min.23a5b1ca.min.css" media="all">


  <!-- scripts -->
  <script async="" src="https://www.google-analytics.com/analytics.js"></script><script src="//static2.cnodejs.org/public/index.min.f7c13f64.min.js"></script>


  
  <title>CNode：Node.js专业中文社区</title>
  
  <meta content="_csrf" name="csrf-param">
  <meta content="kd8NLs7H-CUOKldAo8lvFA5voG9yeYZlK5Hs" name="csrf-token">
</head>
<body>
<!-- navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        
          <img src="//static2.cnodejs.org/public/images/cnodejs_light.svg">
        
      </a>

      <form id="search_form" class="navbar-search" action="/search">
        <input type="text" id="q" name="q" class="search-query span3" value="">
      </form>
      <ul class="nav pull-right">
        <li><a href="/">首页</a></li>
        
        <li>
            <a href="/my/messages">
              
              未读消息
            </a>
        </li>
        
        <li><a href="/getstart">新手入门</a></li>
        <li><a href="/api">API</a></li>
        
        <li><a href="/about" target="">关于</a></li>
        
        
        <li><a href="/setting">设置</a></li>
        <li>
          <a href="/signout" data-method="post" rel="nofollow">退出</a>
        </li>
        
      </ul>
      <a class="btn btn-navbar" id="responsive-sidebar-trigger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
  </div>
</div>
<div id="main">
  <div id="sidebar">

  <div class="panel">
    
    <div class="header">
      <span class="col_fade">个人信息</span>
    </div>
    <div class="inner">
      <div class="user_card">
  <div>
    <a class="user_avatar" href="/user/Lhamber">
      <img src="https://avatars.githubusercontent.com/u/54530132?v=4&amp;s=120" title="Lhamber">
    </a>
    <span class="user_name"><a class="dark" href="/user/Lhamber">Lhamber</a></span>

    <div class="board clearfix">
      <div class="floor">
        <span class="big">积分: 10 </span>
      </div>
    </div>
    <div class="space clearfix"></div>
    <span class="signature">
        “
        
            无论什么时候都不要忘记 思考
        
        ”
    </span>
  </div>
</div>


<script>
  $(document).ready(function () {
    $('.follow_btn').click(function () {
      var $me = $(this);
      var action = $me.attr('action');
      var params = {
        follow_id: '602c84d403d797171b66fec5',
        _csrf: 'kd8NLs7H-CUOKldAo8lvFA5voG9yeYZlK5Hs'
      };
      $.post('/user/' + action, params, function (data) {
        if (data.status === 'success') {
          var $btns = $('.follow_btn');
          if (action === 'follow') {
            $btns.html('取消关注');
            $btns.attr('action', 'un_follow');
          } else {
            $btns.html('加入关注');
            $btns.attr('action', 'follow');
          }
          $btns.toggleClass('btn-success');
        }
      }, 'json');
    });
  });
</script>


    </div>
    
  </div>

  
  <div class="panel">
    <div class="inner">
      <a href="/topic/create" id="create_topic_btn">
        <span class="span-success">发布话题</span>
      </a>
    </div>
  </div>
  

  
    
  

  

  

  <div class="panel">
    <div class="header">
      <span class="col_fade">友情社区</span>
    </div>
    <div class="inner">
      <ol class="friendship-community">
        <li>
          <a href="https://ruby-china.org/" target="_blank">
            <img src="//static2.cnodejs.org/public/images/ruby-china-20150529.png">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://golangtc.com/" target="_blank">
            <img src="//static2.cnodejs.org/public/images/golangtc-logo.png">
          </a>
        </li>
        <div class="sep10"></div>
        <li>
          <a href="http://phphub.org/" target="_blank">
            <img src="//static2.cnodejs.org/public/images/phphub-logo.png">
          </a>
        </li>
      </ol>
    </div>
  </div>
  <div class="panel">
    <div class="header">
      <span class="col_fade">客户端二维码</span>
    </div>
    <div class="inner cnode-app-download">
      <img width="200" src="//static.cnodejs.org/FtG0YVgQ6iginiLpf9W4_ShjiLfU">
      <br>
      <a href="https://github.com/soliury/noder-react-native" target="_blank">客户端源码地址</a>
    </div>
  </div>

</div>


<div id="content">
  <div class="panel">
    <div class="header">
      <ul class="breadcrumb">
        <li><a href="/">主页</a><span class="divider">/</span></li>
        <li class="active">新消息</li>
      </ul>
    </div>
    
    <div class="inner">
      <p>无消息</p>
    </div>
    
  </div>
  <div class="panel">
    <div class="header">
      <span class="col_fade">过往信息</span>
    </div>
    
    
<div class="cell" message_id="603382d44655ea5d3c2178db">
  
    
		<span>
			<a href="/user/waitingsong" target="_blank">waitingsong</a>
			回复了你的话题
			<a href="/topic/603369624655eacdac217843#603382d44655ea66d62178da" target="_blank">我试试这个功能，各位别打开</a>
		</span>
    
    
    
    

  </div>

<div class="cell" message_id="603377404655ea589b2178b2">
  
    
		<span>
			<a href="/user/v5sollee" target="_blank">v5sollee</a>
			回复了你的话题
			<a href="/topic/603369624655eacdac217843#603377404655ea37fb2178b1" target="_blank">我试试这个功能，各位别打开</a>
		</span>
    
    
    
    

  </div>

    
  </div>
</div>

</div>
<div id="backtotop" style="top: 451px; right: 0px;">回到顶部</div>
<div id="footer" class="fix-bottom">
  <div id="footer_main">
    <div class="links">
      <a class="dark" href="/rss">RSS</a>
      |
      <a class="dark" href="https://github.com/cnodejs/nodeclub/">源码地址</a>
    </div>

    <div class="col_fade">
  <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
  <p>服务器搭建在
    <a href="https://www.digitalocean.com/?refcode=eba02656eeb3" target="_blank" class="sponsor_outlink" data-label="digitalocean">
      <img src="//static2.cnodejs.org/public/images/digitalocean.png" title="digitalocean" alt="digitalocean" width="92px">
    </a>
  ，存储赞助商为
    <a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="//static2.cnodejs.org/public/images/qiniu.png" title="七牛云存储" alt="七牛云存储" width="115px">
    </a>
  </p>
  <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p>
</div>


  </div>
</div>
<div id="sidebar-mask"></div>


<script>
  // google analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script', "https://www.google-analytics.com/analytics.js",'ga');

  ga('create', 'UA-41753901-5', 'auto');
  ga('send', 'pageview');
</script>



<div style="display:none;">
  <script src="//s95.cnzz.com/z_stat.php?id=1254020586&amp;web_id=1254020586" language="JavaScript"></script><script src="https://c.cnzz.com/core.php?web_id=1254020586&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="https://www.cnzz.com/stat/website.php?web_id=1254020586" target="_blank" title="站长统计">站长统计</a>
</div>




</body></html>