@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1614504813967'); /* IE9 */
  src: url('iconfont.eot?t=1614504813967#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABlgAAAJrAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApkegE2AiQDCAsGAAQgBYRtBzAboAXILjEVGVmvJJAicdzR2LHn+NYPYwSIh//W+N23M99U+seyqIWCV7EQvRT8dEKkiVfyXq3pfoBdXNVNq/BZFVklrHjvge8vNL7KAivD43F8a0Y1H7II6/Ayw8Xjc8Sw0ue5nN4EOpD5n987x9Uctgd12KJegHEgBbgXRoEEXCSRN4xd4BLuE6g1aIWw7eiiBjmZtSwQVy2jB7lcRpZZvVqorNmbxVMVqot7xWc8Cb8ff61GjkJFYq3def5wCDs/4Id0t7zrqE/IEuDhCiTMA5nYW1vZLikYl1RbSRkF+7IGP5SlHxF7DQr211nN9aAfaveku8atKguQGU8vMDPqTUgtFakbtQ1hWLr6MJec3D9YrN/enSpeaDRr9eba5+1e4HV4pgDLi6o2/wddWPjaf6V9+O8P/Q7sAJQf06e0CwKCS2+u/+vY+F9dzODLqa+FqfJj1i8GqncYCT9G79mXddMKF1nVaxuFXskTttSqRQknWn2P9XXcRSNU67iXWJWBFEm1cTKz86hQZx2Vqm2g1pzjw3XaMEmRazDrEiA0e0ah0UckzV7JzH6hQqd/VGqOJGrtj/KZdSbDKuwz7HEckv6MWIPAp06UFyJrBY2R22NZM+QbyGIrTxRRLtaP0Uc2x4Z4bKicU0JZ4JEj8Bi6bkBCFtg44KLJebgmSbTuReIg8KBgKwb1cGiI6JshLAMBH/WHc4XS5yuQYcTVw1p6auoGxMSsyQmFSO5BHrv8Xj338kxszKDiOIqgmICHOAKzkMsVIML6WTY0wInMEaXQGskeRPu6xPU93tcdgVqWvwh7WlJ52ur5tgUAAAAA') format('woff2'),
  url('iconfont.woff?t=1614504813967') format('woff'),
  url('iconfont.ttf?t=1614504813967') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1614504813967#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e600";
}

